<launch>

<node pkg="nrfcomm" type="rightnrfcomm.py"         name="nrfbnoright"         respawn="true" output="screen"> </node>

<node pkg="nrfcomm" type="boxbnonrfcomm.py"        name="nrfbox"              respawn="true" output="screen" > </node>

<node pkg="nrfcomm" type="sticknrfcomm.py" name="nrfstick" respawn="true" output="screen" > </node>  

</launch>
