<launch>

<node pkg="nrfcomm" type="totalnrfcomm.py"         name="nrfall"         respawn="true" output="screen"> </node>

<node pkg="gps"     type="gps_publisher.py"        name="gps"         respawn="true" output="screen" > </node>

<node pkg="localization" type="kalmanLocalization.py" name="localizer" respawn="true" output="screen" > </node>


  

</launch>

 
